.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  position: relative;
  margin: 20px;

  .tags-input {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 8px;
    border: 1px solid rgb(214, 216, 218);
    border-radius: 6px;

    &:focus-within {
      border: 1px solid gray;
    }

    input {
      flex: 1;
      border: none;
      height: 46px;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 0 0;
    margin: 8px 0 0 0;
    gap: 8px;
  }

  .tag {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    background: gray;

    .tag-close-icon {
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 14px;
      margin-left: 8px;
      color: gray;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }
  }

  .dropdown {
    background: #fff;
    padding: 10px 0;
    margin-top: 4px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    text-indent: 10px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;

    .dropdown-item {
      list-style: none;
      cursor: pointer;
      padding: 2px 0;

      &.active {
        background-color: gray;
        color: #fff;
      }

      &:hover {
        background-color: gray;
        color: #fff;
      }
    }
  }
}
